<div class="card">
  <form
    (ngSubmit)="register(); registerForm.resetForm()"
    #registerForm="ngForm"
    autocomplete="off"
  >
    <div class="card-header">
      Register
    </div>
    <input
      type="email"
      placeholder="Email"
      name="email"
      [(ngModel)]="email"
      required
    />
    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="password"
      required
    />
    <button type="submit">Register</button>
  </form>
</div>
